@model Fizzle.Models.Number

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<div>
    <h4>Number</h4>
    <hr />

    <h4>You've been auto Fizzled!</h4>

    <ul>
        <li>@Html.DisplayNameFor(model => model.Initial): @Html.DisplayFor(model => model.Initial)</li>
        <li>@Html.DisplayNameFor(model => model.Transform): @Html.DisplayFor(model => model.Transform)</li>
    </ul>

    <img src="~/img/wow.png" asp-append-version="true">
</div>
<div>
    <a asp-controller="Numbers" asp-action="Index">List of Numbers</a>
</div>
